* {
    margin: 0%;
    top: 0;
    --dark-color: rgba(44, 42, 42, 1);
    --primary-color: rgba(199, 43, 43);
    --secondary-color: rgba(212, 52, 186);
}

body {
    background-color: var(--dark-color);
    color: whitesmoke;
    font-family: 'Courier New', Courier, monospace;
    box-sizing: border-box;
}

main {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(19rem, 1fr));

}




main section .cast-card {
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-items: center;
    text-align: center;
    position: relative;
    background: var(--secondary-color);
}

main section .cast-card img {
    width: 100%;
}

main section .cast-card .background-pic {
    transform: rotate(180deg);
    clip-path: polygon(0 43%, 100% 2%, 100% 100%, 0 100%);
    z-index: 1;
    
}

main section .cast-card .profile-pic {
    width: 30vw;
    height: 40vh;
    border: none;
    border-radius: ;
    position: relative;
    top: -10rem;
    left: 75%;
}

main section .cast-card .cast-name {
    position: absolute;
    top: 0%;
    right: 0%;
    padding: .5rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-variant: small-caps;
}

main section .cast-card > article{
    padding: 1rem;
    position: relative;
    top: -10rem;
    text-align: left;
}



main section .cast-card > p {
    position: relative;
    bottom: 0;
    right: 0;
}