* {
    margin: 0%;
    top: 0;
    --dark-color: rgba(44, 42, 42, 1);
    --primary-color: rgba(199, 43, 43);
    --secondary-color: rgba(212, 52, 186);
}

body {
    background-color: var(--dark-color);
    color: whitesmoke;
    font-family: 'Courier New', Courier, monospace;
    box-sizing: border-box;
}

main {
    max-width: 800px;
    height: 50vh;
    display: grid;
    position: relative;
}

img {
    max-width: 30vw;
    max-height: 30vh;
    grid-row: span 5;
    grid-column: span 3;
}

section {
    height: 60vh;
    width: 50vw;
    display: grid;
}

main section .cast-card {
    width: fit-content;
    display: flex;
    align-content: center;
    justify-items: center;
    border: 1px solid whitesmoke;
    padding: 1.5rem;
    border-radius: 6%;
}

main section .cast-card > article{
    background: var(--secondary-color);
    padding: 1rem;
    margin: 1rem;
}

main section .cast-card > h3 {
    position: relative;
    bottom: 0;
    padding: 1rem;

}

main section .cast-card > p {
    position: relative;
    bottom: 0;
    right: 0;
}